.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

.search-input-container {
  display: flex;
  background-color: #f1f5f9;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.search-input {
  background-color: #f1f5f9;
  color: #0f172a;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  flex-grow: 1;
}

.search-icon {
  color: #475569;
  height: 18px;
  width: 18px;
}

.category-heading {
  color: #12022f;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  margin-top: 20px;
}
.categories-list {
  padding: 0px;
}
.category-item {
  list-style: none;
  cursor: pointer;
}

.category-name {
  color: #64748b;
  font-size: 16px;
  font-family: 'Roboto';
}

.active-category-name {
  color: #0967d2;
}

.rating-heading {
  color: #12022f;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  margin-top: 30px;
}

.ratings-list {
  padding: 0px;
}
.rating-item {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.rating-img {
  height: 25px;
}

.rating-up {
  color: #64748b;
  font-size: 16px;
  font-family: 'Roboto';
  margin-left: 12px;
}

.active-rating {
  color: #0967d2;
}

.clear-button {
  color: #0967d2;
  font-size: 14px;
  font-family: 'Roboto';
  border: 1px solid #0967d2;
  border-radius: 4px;
  background-color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  outline: none;
  cursor: pointer;
}
